
.tags {
    width: 65vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(247, 241, 241);
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
   
    p {
      font-size: 1.25rem;
    }
   
    &__lista {
      list-style: none;
      width: 380px;
      padding: 0;
      display: flex;
      justify-content: space-between;
   
      li {
        background-color: rgb(72, 3, 151);
        padding: 6px 10px;
        border-radius: 8px;
        cursor: pointer;
      }
    }
  }